# Spreadsheet columns
- Publisher - org displaying the ad
- Advertiser - brand paying for ad
- Campaign - marketing initiative
- Imps - number of times displayed regardless of views
- Viewable imps - times ad is visible on screen
- Clicks - num clicks
- Dsp total cost USD - cost for advertiser to place ads along with platform fees etc
- Dsp media cost USD - cost for advertiser to place ads
- Ssp media cost USD - fee (%) taken by publisher on any revenue generated by ads
    - is this separate to display side platform costs?
- Pc convs - conversions after click
- Total convs - conversions
- Adstxt verified imps - confirmed seen by real person

In [1]:
import pandas as pd
import catboost as cb
import sklearn as sk

In [66]:
dataset = "../data/dataset.csv"
df = pd.read_csv(dataset)
df.head()

C:\Users\alex0\AppData\Local\Temp\ipykernel_223008\2245049826.py:2: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dataset)

,Unnamed: 0,Datetime,Publisher,Advertiser,Campaign,Imps,Viewable Imps,Clicks,Dsp Total Cost USD,Dsp Media Cost USD,Ssp Media Cost USD,Pc Convs,Total Convs,Adstxt Verified Imps,Day of week,Hour of day
0,0,2021-04-18 05,Undisclosed publisher,Brand B,B7,234,0,0,17.89,15.88,11.45,0,0,167,3,1
1,1,2021-04-18 05,Ushodaya Enterprises Pvt Ltd,Brand B,B5,27,0,0,1.65,1.47,1.12,0,0,6,3,1
2,2,2021-04-18 05,Network18,Brand B,B7,27,0,0,0.51,0.42,0.31,0,0,27,3,1
3,3,2021-04-18 05,Mail Metro Media,Brand B,B6,17,0,0,0.46,0.41,0.32,0,0,13,3,1
4,4,2021-04-18 05,Undisclosed publisher,Brand B,B5,107,0,1,3.26,2.82,2.05,0,0,79,3,1

# Convert datetime to day of week and hour of day

In [68]:
date, hour = df["Datetime"].str.split(" ", expand=True)
print(date)
day = pd.to_datetime(date).dayofweek
print(day)

df[["Day of week", "Hour of day"]] = day, hour
df["Day of week"].astype(int)
df["Hour of day"].astype(int)
# df.to_csv(dataset)

0
3